{% extends 'maestra.html' %}

{% block title %} Especies {% endblock %}

{% block content %}

<div style="display: flex; gap: 10px; flex-wrap: wrap; justify-content: center; align-items: center;">

{% for especie in especies %}

<div class="card text-center" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ especie.nombre_especie }}</h5>
        <p>{{ especie.descripcion }}</p>
        <a href="{{ url_for('animalesPorEspecie', especie_id=especie.id_especie) }}" class="btn btn-primary">Mostrar animales de esta especie</a>
    </div>
</div>

{% endfor %}
</div>
{% endblock %}