{% extends 'maestra.html' %}

{% block title %} Información del Animal {% endblock %}

{% block content %}
    <div class="card" style="width: 36rem;">
        <img src="{{ url_for('imagen_animal', id=animal.id_animal) }}" class="card-img-top" alt="{{ animal.nombre_animal }}">
        <div class="card-body align-center">
            <h5 class="card-title">{{ animal.nombre_animal }}</h5>
            <div class="card-text">
                <dt class="col-sm-3">Fecha de Nacimiento</dt>
                <dd class="col-sm-9">{{ animal.fecha_nacimiento }}</dd>

                <dt class="col-sm-3">Edad</dt>
                <dd class="col-sm-9">{{ animal.edad }}</dd>

                <dt class="col-sm-3">Especie</dt>
                <dd class="col-sm-9">{{ especie.nombre_especie }}</dd>

                <dt class="col-sm-3">Hábitat</dt>
                <dd class="col-sm-9">{{ habitat.nombre_habitat }}</dd>
            </div>
        </div>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary" style="margin-top: 20px;">Volver a la lista</a>
{% endblock %}